<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1>About this page</h1>
  <p>This page is part of a base template to get up and going in Express with Mustache template and an MVC approach. This takes the route 'About'.</p>
  <h4>The date is: {{date}}</h4>
  <script src="/scripts/main.js"></script>
</body>
</html>